:host {
    position: relative;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto;
    align-items: center;

    border-radius: var(--space-4);

    &:has(p:only-child) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        overflow-x: auto;
    }

    &:not(:has(p:only-child)) {
        $mask-border-length: var(--space-5);
        mask: linear-gradient(
            90deg,
            #0000,
            #fff #{$mask-border-length} #{calc(100% - $mask-border-length)},
            #0000
        );
    }
}

.frame {
    position: relative;

    &-previous,
    &-next {
        position: sticky;

        top: -50%;
        width: 36px;
        aspect-ratio: 1;
        stroke: var(--text-background);

        z-index: 1;
    }

    &-previous {
        left: 5%;
    }

    &-next {
        right: 5%;
    }
}

.frame-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--text-background);
    border-radius: var(--border-radius-4);
    overflow: hidden;

    margin: 1rem;
}

.frame-actions {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: var(--border-radius-5);
    font-size: 18px;

    padding: 0.5rem;
}
