<div
    class="window"
    [ngStyle]="{ width: '64ch', 'border-radius': _theme.borderRadius }"
>
    <app-title-bar
        [theme]="_theme"
        [barTitle]="barTitle"
        [editable]="windowConfiguration.isEditable"
        (titleChange)="updateTitle($event)"
        (hasChange)="titleTagHasChange()"
    />
    @if (windowConfiguration.isEditable) {
        <div class="stack-child code-container">
            <code
                class="code"
                [highlight]="code"
                (hasChange)="codeTagHasChange()"
                (highlighted)="onCodeHighlight($event)"
            ></code>

            <textarea
                #textArea
                class="textarea-code textarea-fixed"
                [rows]="codeRows"
                [cols]="windowConfiguration.numberColumn"
                (keydown)="onKeyDown(textArea, $event)"
                (input)="onCodeModify(textArea)"
                >{{ code }}</textarea
            >
        </div>
    } @else {
        <code class="code code-preview" [highlight]="code"></code>
    }
</div>
