<app-title-bar />
@if(windowConfiguration.isEditable) {
<div class="stack-child code-container">
    <code class="code" [highlight]="code" [languages]="['xml']" [lineNumbers]="false"
        (hasChange)="codeTagHasChange()"></code>

    <textarea #textArea class="textarea-code textarea-fixed p-1" [rows]="windowConfiguration.numberRow"
        [cols]="windowConfiguration.numberColumn" (input)="codeModify(textArea)">{{code}}</textarea>

    <!-- <span class="caret"></span> -->
</div>
}
@else {
<code class="code" [highlight]="code" [languages]="['xml']" [lineNumbers]="false"></code>
}