.window {
    display: block;
    overflow: hidden;
}

.code {
    display: inline-block;

    font-size: var(--font-size, 16px);
    white-space: pre;

    text-wrap: wrap;

    padding: var(--padding-4);
}

.code-container {
    position: relative;
    --padding: 16px;
    --font-size: 16px;

    .caret {
        position: absolute;

        font-size: var(--font-size); // Apply font-size to have correct ch unit

        top: calc(var(--padding));
        left: calc(var(--padding) + 2ch);

        width: 1ch;
        height: calc(var(--font-size) * 1.2);

        background-color: rgba(255, 0, 0, 0.6);
    }
}

.textarea {
    &-code {
        @extend .code;
        outline: 0px solid transparent;
        -webkit-text-fill-color: transparent;
        background-color: transparent;
        opacity: 0.5;
        border: 0;
    }

    &-fixed {
        resize: none;
    }
}

:has(code[ng-reflect-line-numbers="true"]) textarea {
    padding-left: calc(
        var(--code-size) + var(--code-space) + var(--border-size)
    );
}

.code-preview {
    width: 100%;
}
