<div class="stack-child">
    <div #codeContainer class="screen" [ngStyle]="{ width: codeWidth }">
        <div class="window">
            <div class="bar hljs">
                <div class="window-state">
                    <div class="window-action window-close"> </div>
                    <div class="window-action window-minimize"> </div>
                    <div class="window-action window-maximize"> </div>
                </div>

                <h2 contenteditable="true" class="window-title"> Snippet title </h2>
            </div>

            <div class="stack-child code-container">
                <code #codeTag class="code" [highlight]="code" [languages]="['xml']" [lineNumbers]="false"></code>

                <textarea #textArea class="code textarea-code textarea-fixed p-1"
                    [ngClass]="{ 'textarea-invisible': animationState.hasStart }" [rows]="nbRow"
                    [cols]="nbCharacterOnOneRaw" (input)="codeModify(textArea)">{{code}}</textarea>

                <!-- <span class="caret"></span> -->
            </div>
        </div>
    </div>

    @if (animationState.hasStart) {
    <p class="spinner" [ngStyle]="{ width: codeWidth }"> Render Gif </p>
    }
</div>

<button (click)="addFrameToAnimation()"> Add frame </button>
<button (click)="saveCodeAnimation()"> Save </button>