<div class="code-block">
    <div #codeContainer class="code-block">
        <code #codeTag class="code p-1" [highlight]="code" [languages]="['xml']" [lineNumbers]="true"></code>

        <textarea #textArea class="code textarea-invisible textarea-code textarea-fixed p-1"
            (input)="codeModify(textArea)">{{code}}</textarea>

        <!-- <span class="caret"></span> -->
    </div>

    @if (animation.hasStart) {
    <p class="spinner"> SPINNER </p>
    }
</div>

<button (click)="addFrameToAnimation()"> Add frame </button>
<button (click)="saveCodeAnimation()"> Save </button>