<div class="stack-child">
    <div #codeContainer class="stack-child code-container" [ngStyle]="{ width: codeWidth }">
        <code #codeTag class="code p-1" [highlight]="code" [languages]="['xml']" [lineNumbers]="false"></code>

        @if (!animation.hasStart) {
        <textarea #textArea class="code textarea-invisible textarea-code textarea-fixed p-1" [rows]="nbRow"
            [cols]="nbCharacterOnOneRaw" (input)="codeModify(textArea)">{{code}}</textarea>
        }

        <span class="caret"></span>
    </div>

    @if (animation.hasStart) {
    <p class="spinner"> SPINNER </p>
    }
</div>

<button (click)="addFrameToAnimation()"> Add frame </button>
<button (click)="saveCodeAnimation()"> Save </button>