.code-container {
    position: relative;
    --padding: 16px;
    --font-size: 16px;

    .caret {
        position: absolute;

        font-size: var(--font-size); // Apply font-size to have correct ch unit

        top: calc(var(--padding));
        left: calc(var(--padding) + 2ch);

        width: 1ch;
        height: calc(var(--font-size) * 1.2);

        background-color: rgba(255, 0, 0, 0.6);
    }
}


.spinner {
    margin: 0;
    background-color: var(--background);
}

.stack-child {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &>* {
        grid-row: 1;
        grid-column: 1;
    }
}

.p-1 {
    padding: var(--padding, 1em);
}

.code {
    font-size: var(--font-size, 16px);
    font-family: monospace;
    white-space: pre;
}

.textarea {
    &-invisible {
        -webkit-text-fill-color: transparent;
        background-color: transparent;
        border: 0;
    }

    &-fixed {
        resize: none;
    }
}