<ng-container [formGroup]="menuForm">
    <label class="label">
        <span> Interval between frame </span>
        <input type="number" formControlName="intervalBetweenFrameInMs" class="primary" />
    </label>

    <label class="label">
        <span> Loop iteration </span>
        <input type="number" formControlName="loopIteration" class="primary" />
    </label>

    <label class="label">
        <span> Theme </span>
        <select formControlName="theme" class="primary" (ngModelChange)="onThemeChange()">
            @for(themeName of themeNameList; track themeName) {
            <option [value]="themeName"> {{ themeName }} </option>
            }
        </select>
    </label>

    <button [cdkMenuTriggerFor]="styleMenu" class="primary"> Style </button>

    <ng-template #styleMenu>
        <ul class="style-menu" cdkMenu>
            <li>
                <label class="label">
                    Background
                    <input type="checkbox" formControlName="hasBackground" class="primary" />
                </label>
            </li>
            <li>
                <label class="label">
                    Dark mode
                    <input type="checkbox" formControlName="isDarkMode" class="primary"
                        (ngModelChange)="onThemeChange()" />
                </label>
            </li>
            <li class="select-menu">
                <label class="label">
                    Padding
                    <!-- <input type="checkbox" formControlName="hasPadding" class="primary" /> -->
                    <select class="primary">
                        <option value="none">No</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </label>
            </li>
        </ul>
    </ng-template>
</ng-container>