:host {
    display: flex;
    align-items: flex-end;
    gap: var(--space-4);

    backdrop-filter: blur(5px);
    background: rgba(var(--secondary-rgb), 40%);
    border-radius: var(--border-radius-3);

    padding: var(--padding-4);

    & > label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-3);

        max-width: 90px;

        & > span {
            margin-top: auto;
        }
    }
}

.style-menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    list-style: none;

    border: 1px solid var(--primary);
    border-radius: var(--border-radius-3);
    background-color: var(--secondary);

    margin-top: var(--space-3);
    padding: var(--padding-4);

    width: 100%;
}

.style-menu label {
    display: flex;
    align-items: center;
    gap: var(--space-3);

    cursor: pointer;
    width: 100%;

    input,
    select {
        margin-left: auto;
    }
}

button.primary {
    display: flex;
}
