<ng-container [formGroup]="formGroup">
    <label class="label"> Language
        <select formControlName="language">
            @for(language of languageNameList; track language) {
            <option [value]="language"> {{language}} </option>
            }
        </select>
    </label>

    <label class="label"> Loop iteration
        <input type="number" formControlName="loopIteration" />
    </label>

    <label class="label"> Theme
        <select formControlName="theme" (ngModelChange)="onThemeChange()">
            @for(themeName of themeNameList; track themeName) {
            <option [value]="themeName"> {{ themeName }} </option>
            }
        </select>
    </label>

    <button [cdkMenuTriggerFor]="styleMenu" class="primary"> Style </button>

    <ng-template #styleMenu>
        <ul class="style-menu" cdkMenu>
            <li>
                <label class="label"> Background
                    <input type="checkbox" formControlName="hasBackground" />
                </label>
            </li>
            <li>
                <label class="label"> Dark mode
                    <input type="checkbox" formControlName="isDarkMode" (ngModelChange)="onThemeChange()" />
                </label>
            </li>
            <li>
                <label class="label"> Padding
                    <input type="checkbox" formControlName="hasPadding" />
                </label>
            </li>
        </ul>
    </ng-template>
</ng-container>