button,
.button {
    cursor: pointer;

    color: var(--_btn-color);
    background-color: var(--_btn-bg);
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--border-radius-3);
    font-weight: var(--btn-font-weight);

    padding: var(--padding-3);

    transition:
        all 0.3s ease-in-out,
        font-weight 0.4s ease-in-out;

    --btn-color: var(--text-background);
    --_btn-color: var(--btn-color);

    --btn-bg: var(--background);
    --_btn-bg: var(--btn-bg);

    --btn-border-width: 1px;
    --btn-border-color: var(--btn-color);

    --btn-font-weight: normal;

    &:disabled,
    &.disabled {
        cursor: auto;
        opacity: 0.6;
    }

    &:hover:not(&:disabled, &.disabled) {
        --_btn-color: color-mix(in srgb, var(--btn-color), var(--btn-bg) 80%);
        --_btn-bg: color-mix(in srgb, var(--btn-bg), var(--btn-color) 20%);
    }

    &.primary {
        --btn-color: var(--primary);
    }

    &.secondary {
        --btn-color: var(--secondary);
    }

    &.invisible {
        --btn-border-width: 0;
    }
}
