button,
.button {
    cursor: pointer;

    color: var(--_btn-color);
    background-color: var(--_btn-bg);
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--space-3);
    font-weight: var(--btn-font-weight);

    padding: var(--space-3);

    transition:
        all 0.3s ease-in-out,
        font-weight 0.4s ease-in-out;

    --btn-color: black;
    --_btn-color: var(--btn-color);

    --btn-bg: transparent;
    --_btn-bg: var(--btn-bg);

    --btn-border-width: 1px;
    --btn-border-color: black;

    --btn-font-weight: normal;

    &:disabled {
        cursor: auto;
        opacity: 0.6;
    }

    &:hover:not(&:disabled) {
        --_btn-color: color-mix(in srgb, var(--btn-color), white 80%);
        --_btn-bg: color-mix(in srgb, var(--btn-bg), black 20%);
    }

    &.primary {
        --btn-color: var(--text-primary);
        --btn-bg: var(--primary);
    }

    &.secondary {
        --btn-color: var(--text-secondary);
        --btn-bg: var(--secondary);
    }

    &.invisible {
        --btn-bg: transparent;
        --btn-border-width: 0;
    }
}
