button {
    cursor: pointer;

    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--space-3);
    font-weight: var(--btn-font-weight);

    padding: var(--space-3);

    transition: all 0.3s ease-in-out, font-weight 0.4s ease-in-out;

    --btn-color: black;
    --btn-bg: transparent;
    --btn-border-width: 1px;
    --btn-border-color: black;
    --btn-font-weight: normal;

    &:disabled {
        cursor: auto;
        opacity: 0.6;
    }

    &:hover:not(&:disabled) {
        filter: brightness(1.15) saturate(1.5);
        --btn-font-weight: bold;
    }

    &.primary {
        --btn-color: var(--text);
        --btn-bg: var(--primary);
    }

    &.secondary {
        --btn-color: var(--text);
        --btn-bg: var(--secondary);
    }
}