*:not(code *) {
    font-family: "Chillax-Regular";
    color: var(--text-background);

    margin: 0;

    &.label {
        font-family: "Chillax-Light";
        font-size: 12px;
    }

    &.xl {
        font-family: "Chillax-Medium";
        font-size: 24px;
    }

    &.text-primary {
        color: var(--primary);
    }
}

a {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}
