@use "./functions";
@use "sass:color";

@mixin create-theme($theme-name, $color-list, $background, $logo, $gradient) {
    :root[theme="#{$theme-name}"] {
        --background: #{$background};
        --text-background: #{functions.contrast($background)};
        --gradient: #{$gradient};
        --logo: #{$logo};
        @each $color-name, $color in $color-list {
            --#{$color-name}: #{$color};
            --#{$color-name}-rgb: #{color.red($color)}, #{color.green($color)},
                #{color.blue($color)};
            --#{$color-name}-dark: #{functions.dark(
                    var(--#{$color-name}),
                    30%
                )};
            --#{$color-name}-light: #{functions.light(
                    var(--#{$color-name}),
                    30%
                )};
            --text-#{$color-name}: #{functions.contrast($color)};
        }
    }
}

@include create-theme(
    "blue-dark",
    (
        primary: hsl(218, 100%, 40%),
        secondary: hsl(218, 100%, 20%),
    ),
    hsl(218, 10%, 15%),
    hsl(218, 100%, 61%),
    "linear-gradient(140deg, rgb(142 199 251), rgb(51 91 237))"
);

@include create-theme(
    "blue-light",
    (
        primary: hsl(218, 35%, 70%),
        secondary: hsl(218, 51%, 80%),
    ),
    hsl(218, 60%, 90%),
    hsl(218, 35%, 51%),
    "linear-gradient(140deg, rgb(142 199 251), rgb(51 91 237))"
);

@include create-theme(
    "green-light",
    (
        primary: #55ab63,
        secondary: #88d1b6,
    ),
    #ecfcec,
    #4d9759,
    "linear-gradient(140deg, #74D680, #378B29)"
);

@include create-theme(
    "green-dark",
    (
        primary: #54ab63,
        secondary: #2d5c4b,
    ),
    #062606,
    #54ab63,
    "linear-gradient(140deg, #74D680, #378B29)"
);

@include create-theme(
    "red-light",
    (
        primary: hsl(0, 76%, 52%),
        secondary: hsl(0, 76%, 77%),
    ),
    hsl(0, 73%, 96%),
    hsl(0, 64%, 51%),
    "linear-gradient(140deg, hsl(0, 76%, 92%), hsl(0, 76%, 72%))"
);

@include create-theme(
    "red-dark",
    (
        primary: hsl(0, 76%, 42%),
        secondary: hsl(0, 76%, 27%),
    ),
    hsl(0, 73%, 9%),
    hsl(0, 64%, 44%),
    "linear-gradient(140deg, hsl(0, 86%, 38%), hsl(0, 76%, 52%))"
);

@include create-theme(
    "rainbow-light",
    (
        primary: hsl(291, 64%, 61%),
        secondary: hsl(291, 64%, 81%),
    ),
    hsl(291, 73%, 96%),
    hsl(291, 64%, 51%),
    "linear-gradient(45deg, #f9ccff 0%, #e6bbf9 11%, #9ec6f9 32%, #55e6ee 60%, #91f5d1 74%, #f9ffbf 98%)"
);

@include create-theme(
    "rainbow-dark",
    (
        primary: hsl(291, 74%, 41%),
        secondary: hsl(291, 74%, 31%),
    ),
    hsl(291, 73%, 9%),
    hsl(291, 64%, 31%),
    "linear-gradient(-45deg, #652487 0%, #443ac3 35%, #0174b7 68%, #04988e 100%)"
);
