@use "./functions";
@use "sass:color";

@mixin create-theme($theme-name, $color-list, $background, $logo, $gradient) {
    :root[theme="#{$theme-name}"] {
        --background: #{$background};
        --text-background: #{functions.contrast($background)};
        --gradient: #{$gradient};
        --logo: #{$logo};
        @each $color-name, $color in $color-list {
            --#{$color-name}: #{$color};
            --#{$color-name}-rgb: #{color.red($color)}, #{color.green($color)},
                #{color.blue($color)};
            --#{$color-name}-dark: #{functions.dark(
                    var(--#{$color-name}),
                    30%
                )};
            --#{$color-name}-light: #{functions.light(
                    var(--#{$color-name}),
                    30%
                )};
            --text-#{$color-name}: #{functions.contrast($color)};
        }
    }
}

@include create-theme(
    "blue-dark",
    (
        primary: hsl(218, 100%, 40%),
        secondary: hsl(218, 100%, 20%),
    ),
    hsl(218, 10%, 15%),
    hsl(218, 100%, 61%),
    "linear-gradient(140deg, rgb(142 199 251), rgb(51 91 237))"
);

@include create-theme(
    "blue-light",
    (
        primary: hsl(218, 35%, 70%),
        secondary: hsl(218, 51%, 80%),
    ),
    hsl(218, 60%, 90%),
    hsl(218, 35%, 51%),
    "linear-gradient(140deg, rgb(142 199 251), rgb(51 91 237))"
);

@include create-theme(
    "green-light",
    (
        primary: #55ab63,
        secondary: #88d1b6,
    ),
    #ecfcec,
    #4d9759,
    "linear-gradient(140deg, #74D680, #378B29)"
);

@include create-theme(
    "green-dark",
    (
        primary: #54ab63,
        secondary: #2d5c4b,
    ),
    #062606,
    #54ab63,
    "linear-gradient(140deg, #74D680, #378B29)"
);
