@use "../../../styles" as style;

:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "editor"
        "frame-list";

    margin: var(--space-5);

    height: 100%;
}

app-code-editor {
    grid-area: editor;
}

app-code-animation-visualisation {
    grid-area: frame-list;
}

app-menu {
    position: absolute;
    top: var(--space-5);
    right: var(--space-5);
}
