<app-code-editor
    #codeEditor
    [theme]="menuFormGroup.theme"
    [initialCode]="initialCode"
    [delayInMs]="menuFormGroup.delayInMs"
    [languageSelected]="menuFormGroup.language"
    (animation)="loadAnimation($event)"
    (codeHasChange)="updateCodeInUrl($event)"
    (titleHasChange)="updateTitleInUrl($event)"
/>

@if (!codeEditor.isRecording) {
    <app-code-animation-visualisation
        [animation]="animation"
        [theme]="menuFormGroup.theme"
        [languageSelected]="menuFormGroup.language"
        (onDelete)="onDeleteAnimationKey(codeEditor, $event)"
    />
}
