{{ title }}
<div class="stack-child code-editor">
    <app-window
        #codeContainer
        class="no-animation"
        [barTitle]="title"
        [language]="language"
        [code]="code"
        [theme]="theme"
        [windowConfiguration]="codeConfiguration"
        (domTitleHasChange)="titleHasChange()"
        (domCodeHasChange)="codeHasChange()"
    />

    <div class="spinner">
        <p>Loading ({{ currentIndex + 1 }} / {{ nbFrame }})</p>
        <app-progress-bar
            color="var(--primary)"
            backgroundColor="var(--text-background)"
            [percent]="progression"
        />
    </div>
</div>
