.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    color: var(--text-background);
    background-color: var(--background);

    width: 100%;

    z-index: 1000;
}
