<div class="stack-child code-editor">
    <app-window
        #codeContainer
        class="no-animation"
        [title]="title"
        [language]="language"
        [code]="code"
        [theme]="theme"
        [windowConfiguration]="codeConfiguration"
        (domHasChange)="domHasChange()"
    />

    <div class="spinner">
        <p>Loading ...</p>
        <app-progress-bar
            color="var(--primary)"
            backgroundColor="var(--text-background)"
            [percent]="(progression$ | async) ?? 0"
        />
    </div>
</div>
