.spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-background);
    background-color: var(--background);

    width: 100%;

    z-index: 1000;
}
