@if (!isRecording) {
    <app-window
        [code]="code"
        [barTitle]="title"
        [theme]="theme"
        [language]="languageSelected"
        [windowConfiguration]="codeConfiguration"
        (codeHasChange)="updateCode($event.value)"
        (titleChange)="updateTitle($event)"
        (languageDetected)="updateLanguage($event)"
    />
} @else {
    <app-code-recorder
        [delayInMs]="delayInMs"
        [theme]="theme"
        [numberIteration]="numberIteration"
        [language]="languageSelected ?? language"
        [codeAnimation]="codeAnimation"
        (onRecordFinish)="finishRecord()"
    />
}

@if (!isRecording) {
    <button (click)="startRecord()">Animate my snippet !</button>
}
