@if (!isRecording) {
    <app-window
        [code]="code"
        [title]="title"
        [theme]="theme"
        [language]="languageSelected"
        [windowConfiguration]="codeConfiguration"
        (codeHasChange)="updateCode($event.value)"
        (titleChange)="updateTitle($event)"
        (languageDetected)="updateLanguage($event)"
    />
} @else {
    <app-code-recorder
        [delayInMs]="delayInMs"
        [title]="title"
        [theme]="theme"
        [language]="languageSelected ?? language"
        [codeAnimation]="codeAnimation"
        (onRecordFinish)="finishRecord()"
    />
}

@if (!isRecording) {
    <div class="animation-controller">
        <button class="secondary" (click)="addFrameToAnimation()">
            Add frame
        </button>
        <button
            class="primary"
            [disabled]="codeAnimation.hasNoFrame"
            (click)="saveCodeAnimation()"
        >
            Save
        </button>
    </div>
}
