:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner {
    padding: var(--padding-5);
    margin: 0;

    z-index: 0;

    background-color: black;
}

.animation-controller {
    display: flex;
    gap: var(--space-3);
    padding: var(--padding-3);
}
