:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.animation-controller {
    display: flex;
    gap: var(--space-3);
    padding: var(--padding-3);
}

app-code-recorder {
    min-height: 160px;
}
