<app-code-editor #codeEditor [language]="language" [theme]="theme" (animation)="loadAnimation($event)" />

<div class="frame-list">
    @for(frame of animation.frameList; track frame) {
    <div class="frame">
        <div class="frame-actions">
            <button aria-label="Delete frame" class="secondary icon" (click)="codeEditor.deleteFrame($index)">
                X
            </button>
        </div>
        <div class="frame-card">
            <p> Frame {{$index}} </p>
            <app-code-viewer [language]="language" [theme]="theme" [frame]="frame"
                [dimension]="{ column: 64, row: animation.maxRow }" />
        </div>
    </div>
    }
    @empty {
    <p class="xl"> No frame yet ! Try something :) </p>
    }
</div>

<div class="tools-area tools-bar" [formGroup]="toolsForm">
    <div>
        <p class="label"> Language </p>
        <select formControlName="language">
            @for(language of languagesList; track language) {
            <option [value]="language"> {{language}} </option>
            }
        </select>
    </div>

    <div>
        <p class="label"> Loop iteration </p>
        <input type="number" formControlName="loopIteration" />
    </div>

    <div>
        <p class="label"> Theme </p>
        <select formControlName="theme" (ngModelChange)="updateTheme()">
            @for(themeName of themeNameList; track theme) {
            <option [value]="themeName"> {{ themeName }} </option>
            }
        </select>
    </div>

    <div class="export-and-save">
        <div class="export-container">
            <button class="primary" (click)="showExportType = true" [disabled]="!isExportable"> Export
            </button>
            @if (showExportType) {
            <ul class="export-type">
                <li><button class="invisible" (click)="saveAsGif()"> Gif </button></li>
                <li><button class="invisible" (click)="saveAsVideo()"> Video </button></li>
            </ul>
            }
        </div>
        <button class="secondary" (click)="addCurrentFrame()"> Add Frame </button>
    </div>

    <div>
        <p class="label"> Background </p>
        <input type="checkbox" formControlName="hasBackground" />
    </div>

    <div>
        <p class="label"> Dark mode </p>
        <input type="checkbox" formControlName="isDarkMode" (ngModelChange)="updateTheme()" />
    </div>

    <div>
        <p class="label"> Padding </p>
        <input type="checkbox" formControlName="hasPadding" />
    </div>
</div>