<app-code-editor #codeEditor [theme]="theme" (animation)="loadAnimation($event)" />

<div class="frame-list">
    @for(frame of animation.frameList; track frame) {
    <div class="frame">
        <div class="frame-actions">
            <button aria-label="Delete frame" class="secondary delete-frame" (click)="codeEditor.deleteFrame($index)">
                X
            </button>
        </div>
        <div class="frame-card">
            <p> Frame {{$index}} </p>
            <app-code-viewer [theme]="theme" [frame]="frame" [dimension]="{ column: 64, row: animation.maxRow }" />
        </div>
    </div>
    }
    @empty {
    <p> No frame yet ! Try something :) </p>
    }
</div>

<div class="tools">
    <div>
        <p class="label"> Language </p>
        <select>
            <option> HTML </option>
            <option> JS </option>
        </select>
    </div>

    <div>
        <p class="label"> Frame interval </p>
        <input type="number" />
    </div>

    <div>
        <p class="label"> Loop iteration </p>
        <input type="number" />
    </div>

    <button class="export primary"> Export </button>

    <div>
        <p class="label"> Background </p>
        <input type="checkbox" />
    </div>

    <div>
        <p class="label"> Dark mode </p>
        <input type="checkbox" />
    </div>

    <div>
        <p class="label"> Padding </p>
        <input type="checkbox" />
    </div>
</div>