@use "../../../styles" as style;

:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "editor"
        "frame-list";

    margin: var(--space-5);
}

app-code-editor {
    grid-area: editor;
}

.frame-list {
    grid-area: frame-list;
    position: relative;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto;
    align-items: center;

    border-radius: var(--space-4);

    &:has(p:only-child) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        overflow-x: auto;
    }

    &:not(:has(p:only-child)) {
        $mask-border-length: var(--space-5);
        mask: linear-gradient(
            90deg,
            #0000,
            #fff #{$mask-border-length} #{calc(100% - $mask-border-length)},
            #0000
        );
    }
}

.frame {
    position: relative;

    &-previous,
    &-next {
        position: sticky;

        top: -50%;

        z-index: 1;
    }

    &-previous {
        left: 5%;
    }

    &-next {
        right: 5%;
    }
}

.frame-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--text-background);
    border-radius: 12px;
    overflow: hidden;

    margin: 1rem;
}

.frame-actions {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 50px;
    font-size: 18px;

    padding: 0.5rem;
}

.tools-area {
    position: fixed;
    top: 5%;
    left: 50%;
    translate: -50% 0;

    background: rgba(var(--secondary-rgb), 40%);

    border-radius: var(--space-3);

    padding: var(--padding-4);
}

.tools-bar {
    display: flex;
    gap: var(--space-3);

    backdrop-filter: blur(5px);

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & :is(input:not(&[type="checkbox"]), select) {
            width: 100px;
        }

        & p {
            text-align: center;
            margin-bottom: var(--space-2);
        }
    }

    .export-and-save {
        gap: var(--space-3);
    }

    .export-container {
        position: relative;
    }

    .export-type {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        list-style: none;

        border: 1px solid white;
        border-radius: var(--space-3);
        background-color: var(--primary);

        margin: 0;
        padding: var(--padding-2);

        width: 100%;

        & button {
            width: 100%;
        }
    }
}
