:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "editor"
        "frame-list";

    margin: var(--space-5) 0;
}

app-code-editor {
    grid-area: editor;
}

.frame-list {
    grid-area: frame-list;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    overflow-x: auto;
}

.frame {
    position: relative;
}

.frame-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;

    margin: 1rem;
}

.frame-actions {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 50px;
    font-size: 18px;

    padding: 0.5rem;
}

.tools-area {
    position: fixed;
    top: 5%;
    left: 50%;
    translate: -50% 0;

    color: white;
    background: rgba(0, 0, 0, 40%), url('../../../assets/noise.svg');

    border-radius: var(--space-3);

    padding: var(--padding-4);

    height: 60px;
}

.tools-bar {
    display: flex;
    align-items: center;
    gap: var(--space-3);

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;

        & :is(input, select) {
            width: 100px;
        }

        & p {
            text-align: center;
        }
    }

    .export-container {
        position: relative;
    }

    .export-type {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        list-style: none;

        border: 1px solid white;
        border-radius: var(--space-3);
        background-color: var(--primary);

        margin: 0;
        padding: var(--padding-2);

        width: 100%;

        & button {
            width: 100%;
        }
    }
}