@if (animation.frameList.length > 0) {
<button class="frame-previous invisible text-primary xl"> <app-arrow-left /> </button>
@for(frame of animation.frameList; track frame) {
<div class="frame">
    <div class="frame-actions">
        <button aria-label="Move frame" class="secondary icon"> ... </button>
        <button aria-label="Delete frame" class="secondary icon" (click)="onDeleteFrame($index)">
            X
        </button>
    </div>
    <div class="frame-card">
        <p> Frame {{$index}} </p>
        <app-code-viewer [language]="language" [theme]="theme" [frame]="frame"
            [dimension]="{ column: 64, row: animation.maxRow }" />
    </div>
</div>
}
<button class="frame-next invisible text-primary xl"> <app-arrow-right class="xl" /> </button>
}
@else {
<p class="xl"> No frame yet ! Try something :) </p>
}