@import "./styles/index";
@import "@angular/cdk/overlay-prebuilt.css";

*:not(code, code *):not(.cdk-overlay-connected-position-bounding-box) {
    transition-property: color, background, background-color, padding,
        border-radius, border-color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.page > * {
    height: 100%;
}

*::selection {
    background-color: rgba(var(--primary-rgb), 30%);
}

* {
    box-sizing: border-box;
}

// Style for ngx-highlightjs line number customizable with css variable
table.hljs-ln {
    td.hljs-ln-numbers {
        text-align: center;
        color: #ccc;
        border-right: 1px solid var(--border-color, #999);
        // vertical-align: top;
        padding-right: 5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    td.hljs-ln-code {
        padding-left: 10px;
    }
}
