@use 'sass:list';

$padding-size-list: 2px, 4px, 8px, 16px, 32px;

:root {
    --primary: blue;
    --secondary: cyan;

    --success: green;
    --warning: orange;
    --danger: red;

    --text: white;
    --background: black;

    @for $index from 1 through length($padding-size-list) {
        --padding-#{$index}: #{list.nth($padding-size-list, $index)};
    }
}

.stack-child {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &>* {
        grid-row: 1;
        grid-column: 1;
    }
}