<div class="stack-child code-editor">
    <div #codeContainer [ngStyle]="{ width: codeWidth, padding: theme.padding, background: theme.background }">
        <app-window [code]="code" [theme]="theme" [windowConfiguration]="codeConfiguration"
            (codeHasChange)="codeHasChange($event)" (domHasChange)="domHasChange()" />
    </div>

    @if (codeAnimation.hasStart) {
    <p class="spinner" [ngStyle]="{ width: codeWidth }"> Render Gif </p>
    }
</div>

@if (!codeAnimation.hasStart) {
<div class="">
    <button class="secondary" (click)="addFrameToAnimation()"> Add frame </button>
    <button class="primary" [disabled]="codeAnimation.hasNoFrame" (click)="saveCodeAnimation()"> Save </button>
</div>
}