<div class="stack-child">
    <div #codeContainer class="screen" [ngStyle]="{ width: codeWidth }">
        <app-window [code]="code" [codeConfiguration]="codeConfiguration" (hasChange)="codeHasChange($event)" />
    </div>

    @if (codeAnimation.hasStart) {
    <p class="spinner" [ngStyle]="{ width: codeWidth }"> Render Gif </p>
    }
</div>
{{codeAnimation.hasStart}}
@if (isController && !codeAnimation.hasStart) {
<button (click)="addFrameToAnimation()"> Add frame </button>
<button (click)="saveCodeAnimation()"> Save </button>
}