@if(isCodeController) {
<div class="stack-child code-editor">
    <div #codeContainer class="screen" [ngStyle]="{ width: codeWidth }">
        <app-window [code]="code" [codeConfiguration]="codeConfiguration" (codeHasChange)="codeHasChange($event)"
            (domHasChange)="domHasChange()" />
    </div>

    @if (codeAnimation.hasStart) {
    <p class="spinner" [ngStyle]="{ width: codeWidth }"> Render Gif </p>
    }
</div>

@if (!codeAnimation.hasStart) {
<div class="code-editor-actions">
    <button class="secondary" (click)="addFrameToAnimation()"> Add frame </button>
    <button class="primary" [disabled]="codeAnimation.hasNoFrame" (click)="saveCodeAnimation()"> Save </button>
</div>
}
}
@else {
<div class="screen" [ngStyle]="{ width: codeWidth }">
    <app-window [code]="codeFrame!.code" [codeConfiguration]="codeConfiguration" />
</div>
}